@model IEnumerable<psiconexao.Models.Consulta>

@{
    ViewData["Title"] = "Agenda de " + User.Identity.Name;

    var paciente = User.IsInRole(Perfil.Paciente.ToString());
    var psicologo = User.IsInRole(Perfil.Psicologo.ToString());

    var consultas = Model.Where(m => m.Estado == Estado.Agendada || m.Estado == Estado.concluida || m.Estado == Estado.cancelada || m.Estado == Estado.Pendente);
    var consultasNaoPendentes = Model.Where(m => m.Estado == Estado.Agendada || m.Estado == Estado.concluida || m.Estado == Estado.cancelada);
    var consultasPendentes = Model.Where(m => m.Estado == Estado.Pendente);
}

@using System.Security.Claims;

<link rel="stylesheet" href="~/css/consultas.css" />

<div class="white-container">
    <div class="container card-col-4">
        <div class="container-content">
            @{
                if (paciente)
                {
                    <div class="card-item">
                        <h2>Conte-nos como está sendo sua experiência!</h2>
                        <h5>
                            Sua opinião é muito importante para nós. Responda a nossa pesquisa e nos ajude a melhorar ainda mais.
                        </h5>
                        <button class="button btn-full-width">Responder questionário</button>
                    </div>
                    <img src="/images/Feedback-amico.png"
                         alt="Ilustração de Feedback do Usuário"
                         width="350px"
                    class="hide-img" />
                }
                else if (psicologo)
                {
                    if(consultasPendentes.Count() > 0)
                    {
                        <div class="card-col-4 ps-4 vw-100">
                            <h4>Lista de consultas pendentes</h4>
                            <table class="table">
                                <thead>
                                    <tr class="divisao-tabela-2">
                                        <th>
                                            <b>@Html.DisplayNameFor(model => model.Data)</b>
                                        </th>
                                        <th>
                                            <b>@Html.DisplayNameFor(model => model.Hora)</b>
                                        </th>
                                        <th>
                                            <b>@Html.DisplayNameFor(model => model.Psicologo)</b>
                                        </th>
                                        <th><b>Opções</b></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model
                                        .Where(m => m.Estado == Estado.Pendente)
                                        .OrderBy(m => m.Data).ThenBy(m => m.Hora))
                                    {
                                        <tr class="divisao-tabela">
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Data)
                                            </td>
                                            <td>
                                                @item.Hora.ToString(@"hh\:mm")
                                            </td>
                                            <td>
                                                <a asp-controller="Paciente"
                                                   asp-action="Perfil"
                                                   asp-route-id="@item.Paciente.UsuarioId"
                                                   class="link">
                                                    @Html.DisplayFor(modelItem => item.Paciente.Nome)
                                                </a>
                                            </td>
                                            <td>
                                                <a asp-action="Confirmar" asp-route-id="@item.ConsultaId" class="tag">Confirmar</a>
                                            </td>
                                            <td>
                                                <a asp-action="Rejeitar" asp-route-id="@item.ConsultaId">Recusar</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    else
                    {
                        <span>Não há consultas pendentes.</span>
                    }
                }
            }
        </div>
    </div>
</div>
<div class="separator-2"></div>
<div class="separator-2"></div>
<div class="container">
    <div class="card">
        <div class="p-4">
            <div class="header-content">
                <div>
                    <h2>Agenda</h2>
                    <h6>Lista de consultas agendadas</h6>
                </div>
                @if (psicologo)
                {
                    <a asp-controller="Disponibilidades" asp-action="Index" class="button">Gerenciar Disponibilidades</a>
                }
            </div>
            <div class="separator-2"></div>
            <table class="table">
                <thead>
                    <tr class="divisao-tabela-2">
                        <th>
                            <b>@Html.DisplayNameFor(model => model.Data)</b>
                        </th>
                        <th>
                            <b>@Html.DisplayNameFor(model => model.Hora)</b>
                        </th>
                        <th>
                            @{
                                if (psicologo)
                                {
                                    <b>@Html.DisplayNameFor(model => model.Psicologo)</b>
                                }
                                else if (paciente)
                                {
                                    <b>@Html.DisplayNameFor(model => model.Paciente)</b>
                                }
                            }
                        </th>
                        <th>
                            <b>@Html.DisplayNameFor(model => model.Estado)</b>
                        </th>
                        <th><b>Opções</b></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (paciente)
                        {
                            @foreach (var item in Model
                                .Where(m => m.Estado == Estado.Pendente)
                                .OrderBy(m => m.Data).ThenBy(m => m.Hora))
                            {
                                <tr class="divisao-tabela">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Data)
                                    </td>
                                    <td>
                                        @item.Hora.ToString(@"hh\:mm")
                                    </td>
                                    <td>
                                        <a asp-controller="Psicologo"
                                           asp-action="Perfil"
                                           asp-route-id="@item.Psicologo.UsuarioId"
                                           class="link">
                                            @Html.DisplayFor(modelItem => item.Psicologo.Nome)
                                        </a>
                                    </td>
                                    <td>
                                        <span class="tag @item.Estado">@Html.DisplayFor(modelItem => item.Estado)</span>
                                    </td>
                                    <td>
                                        <a asp-action="Delete" asp-route-id="@item.ConsultaId">Cancelar</a>
                                    </td>
                                </tr>
                            }
                        }
                        @foreach (var item in Model
                            .Where(m => m.Estado == Estado.Agendada || m.Estado == Estado.cancelada || m.Estado == Estado.concluida)
                            .OrderBy(m => m.Data).ThenBy(m => m.Hora))
                        {
                            <tr class="divisao-tabela">
                                <td>
                                    @Html.DisplayFor(modelItem => item.Data)
                                </td>
                                <td>
                                    @item.Hora.ToString(@"hh\:mm")
                                </td>
                                <td>
                                    @{
                                        if (paciente)
                                        {
                                            <a asp-controller="Psicologo"
                                               asp-action="Perfil"
                                               asp-route-id="@item.Psicologo.UsuarioId"
                                               class="link">
                                                @Html.DisplayFor(modelItem => item.Psicologo.Nome)
                                            </a>
                                        } else if (psicologo)
                                        {
                                            <a asp-controller="Paciente"
                                               asp-action="Perfil"
                                               asp-route-id="@item.Paciente.UsuarioId"
                                               class="link">
                                                @Html.DisplayFor(modelItem => item.Paciente.Nome)
                                            </a>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if(item.Estado == Estado.Agendada && item.Data < DateTime.Now)
                                        {
                                            item.Estado = Estado.concluida;
                                        }
                                    }
                                    <span class="tag @item.Estado">@Html.DisplayFor(modelItem => item.Estado)</span>
                                </td>
                                <td>
                                    <a asp-action="Delete" asp-route-id="@item.ConsultaId">Excluir</a>
                                </td>
                            </tr>
                        }
                        if (consultas.Count() == 0 || psicologo && consultasNaoPendentes.Count() == 0)
                        {
                            <tr class="text-center" role="alert">
                                <td colspan="5">Não há nenhuma consulta marcada no momento.</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="separator-2"></div>
