@model IEnumerable<psiconexao.Models.Consulta>

@{
    ViewData["Title"] = "Consultas Pendentes";
}

<h1>Consultas Pendentes</h1>

<table class="table">
    <thead>
        <tr>
            <th>Data</th>
            <th>Hora</th>
            <th>Psicólogo</th>
            <th>Paciente</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Data.ToShortDateString()</td>
                <td>@item.Hora</td>
                <td>@item.Psicologo.Nome</td>
                <td>@item.Paciente.Nome</td>
                <td>
                    <a asp-action="Confirmar" asp-route-id="@item.ConsultaId" class="btn btn-primary">Confirmar</a>
                    <a asp-action="Rejeitar" asp-route-id="@item.ConsultaId" class="btn btn-danger">Rejeitar</a>
                </td>
            </tr>
        }
    </tbody>
</table>