@model psiconexao.Models.Psicologo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Psicologo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.crp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.crp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrlFoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrlFoto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Biografia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Biografia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoConsulta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoConsulta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TEspecialidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TEspecialidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TAbordagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TAbordagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UsuarioId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
