@model psiconexao.Models.Paciente

@{
    ViewData["Title"] = "Details";
}

<div class="white-container">
    <div class="container card-col-4">
        <div class="container-content">
            <div>
                <h3>@Html.DisplayFor(model => model.Nome)</h3>
                <br />
                <div class="card-col-2">
                    <h6><b>@Html.DisplayNameFor(model => model.Email):</b> @Html.DisplayFor(model => model.Email)</h6>
                    <h6><b>@Html.DisplayNameFor(model => model.Cpf):</b> @Html.DisplayFor(model => model.Cpf)</h6>
                    <h6><b>@Html.DisplayNameFor(model => model.Telefone):</b> @Html.DisplayFor(model => model.Telefone)</h6>
                    <h6><b>@Html.DisplayNameFor(model => model.Trauma):</b> @Html.DisplayFor(model => model.Trauma)</h6>
                </div>
            </div>
            <img src="/images/Personal-data-cuate.png" alt="Ilustração de menina com dados flutuando" width="260px" class="hide-img">
        </div>
    </div>
</div>
<div class="separator-2"></div>
<div class="separator-2"></div>
<div class="container">
    <div class="card">
        <div class="p-4">
            <div class="header-content mb-4">
                <h3>Histórico</h3>
                <a asp-action="Edit" asp-route-id="@Model?.UsuarioId" class="button">Adicionar histórico</a>
            </div>
            <span>@Html.DisplayFor(model => model.HistoricoConsulta)</span>
        </div>
    </div>
</div>