@{
    @using System.Security.Claims;

    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PsiConexão</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/psiconexao.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet" />
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css' rel='stylesheet' />
</head>
<body>
    <header class="header">
        <div class="container header-content">
            <button class="menu-button" onclick="abrirMenu()">
                <img src="~/images/menu.svg" alt="Menu" class="menu-button-svg" />
            </button>
            <div class="menu close-menu">
                <a href="/"><h3 class="menu-title">PsiConexão</h3></a>
                <div class="separator-2"></div>
                <button class="close-menu-button" onclick="abrirMenu()">
                    <img src="~/images/close.svg" alt="Ícone de menu" width="40px" />
                </button>
                @{
                    if (User.Identity.IsAuthenticated)
                    {
                        if (@User.IsInRole(Perfil.Psicologo.ToString()))
                        {
                            <a asp-controller="Psicologo" asp-action="Perfil" asp-route-id="@userId">Olá, @User.Identity.Name</a>
                            <a asp-controller="Psicologo" asp-action="Editar" asp-route-id="@userId">Editar Perfil</a>
                            <a asp-controller="Consultas" asp-action="Index" asp-route-id="@userId">Agenda</a>
                        }
                        else if (@User.IsInRole(Perfil.Paciente.ToString()))
                        {
                            <a asp-controller="Paciente" asp-action="Perfil" asp-route-id="@userId">Olá, @User.Identity.Name</a>
                            <a asp-controller="Psicologo" asp-action="Lista">Psicólogos</a>
                            <a asp-controller="Paciente" asp-action="Editar" asp-route-id="@userId">Editar Perfil</a>
                            <a asp-controller="Consultas" asp-action="Index" asp-route-id="@userId">Agenda</a>
                        }
                        <a asp-controller="Auth" asp-action="Sair">Sair</a>
                    }
                    else
                    {
                        <a href="#comoFunciona">Como Funciona?</a>
                        <a asp-controller="Psicologo" asp-action="Lista">Escolher Profissional</a>
                        <a asp-controller="Auth" asp-action="Cadastro" class="white-button">Cadastre-se</a>
                    }
                }
            </div>
            <a href="/"><h3>PsiConexão</h3></a>
            <nav class="menu-nav gap-4">
                @{
                    if (User.Identity.IsAuthenticated)
                    {
                        if(@User.IsInRole(Perfil.Psicologo.ToString()))
                        {
                            <a asp-controller="Psicologo" asp-action="Perfil" asp-route-id="@userId">Olá, @User.Identity.Name</a> <span>•</span>
                            <a asp-controller="Psicologo" asp-action="Editar" asp-route-id="@userId">Editar Perfil</a> <span>•</span>
                            <a asp-controller="Consultas" asp-action="Index" asp-route-id="@userId">Agenda</a> <span>•</span>
                        }
                        else if (@User.IsInRole(Perfil.Paciente.ToString()))
                        {
                            <a asp-controller="Paciente" asp-action="Perfil" asp-route-id="@userId">Olá, @User.Identity.Name</a> <span>•</span>
                            <a asp-controller="Psicologo" asp-action="Lista">Psicólogos</a> <span>•</span>
                            <a asp-controller="Paciente" asp-action="Editar" asp-route-id="@userId">Editar Perfil</a> <span>•</span>
                            <a asp-controller="Consultas" asp-action="Index" asp-route-id="@userId">Agenda</a> <span>•</span>
                        }
                        <a asp-controller="Auth" asp-action="Sair">Sair</a>
                    }
                    else
                    {
                        <a href="#comoFunciona">Como Funciona?</a>
                        <a asp-controller="Psicologo" asp-action="Lista">Escolher Profissional</a>
                        <a asp-controller="Auth" asp-action="Cadastro" class="white-button">Cadastre-se</a>
                    }
                }
            </nav>
        </div>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <div class="alert">
            <div class="alert-content">
                <span>
                    <b>Atenção:</b> Este site não oferece tratamento ou aconselhamento
                    imediato para pessoas em crise suicida. Em caso de crise, ligue para
                    <b>188</b> (CVV) ou acesse o site <b>www.cvv.org.br</b>. Em caso de
                    emergência, procure atendimento em um hospital mais próximo.
                </span>
            </div>
        </div>
        <div class="container footer">
            <div class="footer-title">
                <h3>PsiConexão</h3>
                <h6>Estamos aqui para apoiar você em cada passo da sua jornada.</h6>
            </div>
            <div class="footer-socials">
                <div class="card-col-2">
                    <h5>Contato</h5>
                    <a href="/">Ajuda/FAQ</a>
                    <a href="/">Atendimento</a>
                </div>
                <div class="card-col-2">
                    <h5>Redes Socias</h5>
                    <div class="card-2">
                        <a href="/">
                            <img src="~/images/facebook.svg" alt="facebook" />
                        </a>
                        <a href="/">
                            <img src="~/images/instagram.svg" alt="instagram" />
                        </a>
                        <a href="/">
                            <img src="~/images/twitter.svg" alt="Twitter" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js'></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
