@model IEnumerable<psiconexao.Models.Disponibilidade>

@{
    ViewData["Title"] = "Index";
}


<div id="disponibilidades-container">
    <div id="disponibilidades-top">
        <div id="h3-wrapper">
            <h3>Gerencie sua Disponibilidade</h3>
        </div>
        <div id="disponibilidade-create-button">
            <p>
                <a asp-action="Create">Adicionar novos horários</a>
            </p>
        </div>
    </div>
    <div id="disponibilidades-content-wrapper">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <h6>@Html.DisplayNameFor(model => model.DataInicio)</h6>
                    </th>
                    <th>
                        <h6>@Html.DisplayNameFor(model => model.DataFim)</h6>
                    </th>
                    <th>
                        <h6>@Html.DisplayNameFor(model => model.HoraInicio)</h6>
                    </th>
                    <th>
                        <h6>@Html.DisplayNameFor(model => model.HoraFim)</h6>
                    </th>
                    <th>
                        <h6>Opções</h6>
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataInicio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataFim)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HoraInicio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HoraFim)
                        </td>
                        
                        <td>
                            <div id="buttons-container">
                            <a asp-action="Edit" asp-route-id="@item.DisponibilidadeId" id="disponibilidades-edit-button">Editar</a>
                            
                            <a asp-action="Delete" asp-route-id="@item.DisponibilidadeId">Excluir</a>
                            </div>
                        </td>
                    </tr>
        
                }
    </tbody>
    </table>
</div>
</div>

@section Scripts {
    <link rel="stylesheet" href="~/css/disponibilidades.css" />
}
